@using System.Text.Json;
@using TheRestaurant.Contracts.Requests.Item;
@using TheRestaurant.Presentation.Client.Components.Admin.ItemCrud.Validation;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<style>
    .form {
        padding-left: 25px;
    }
</style>

@if(Error == true)
{
    <p>@ErrorMessage</p>
}

<div class="form">
    <EditForm Model="_createItem" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="form-group row">
            
            <div class="col-md-3">
                <label for="name" class="control-label col-md-2">Name</label>
                <InputText id="name" class="form-control" @bind-Value="_createItem.Name" />
                <ValidationMessage For="@(() => _createItem.Name)" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label for="price" class="control-label col-md-2">Price</label>
                <InputNumber id="price" class="form-control" @bind-Value="_createItem.Price" />
                <ValidationMessage For ="@(() => _createItem.Price)"/>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-3">
                <label for="description" class="control-label col-md-2">Description</label>
                <InputTextArea id="description" class="form-control" @bind-Value="_createItem.Description" />
                <ValidationMessage For="@(() => _createItem.Description)" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label for="isFoodItem" class="control-label">Is Food Item?</label>
                <InputCheckbox id="isFoodItem" @bind-Value="_createItem.IsFoodItem" />
                <ValidationMessage For="@(() => _createItem.IsFoodItem)" />
            </div>
        </div>


        <div class="form-group-row">
            <div class="col-md-4">
                <label for="menuPhoto" class="col-md-2 control-label">Menu Photo: </label>
                <InputFile id="menuPhoto" class="form-control" OnChange="HandlePhotoUpload"/>
            </div>
        </div>

       @* <div class="form-group-row">
            <div class="col-md-4">
                <label for="categories" class="col-md-2 control-label">Categories: </label>
                @foreach (var category in menuItemValidation.MenuItemCategories)
                {

                }
            </div>

            <div class="form-group-row">
                <div class="col-md-4">
                    <label for="allergies" class="col-md-2 control-label">Allegies: </label>
                    @foreach (var allergy in menuItemValidation.MenuItemAllergies)
                    {
                        
                    }
                </div>*@
            @*</div>*@
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-3 text-right">
                <button type="submit" class="btn btn-primary">
                    Create
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private readonly ItemValidation _createItem = new ItemValidation();
    private bool Error;
    private string ErrorMessage;
    private async Task HandleValidSubmit()
    {
        var request = new CreateItemRequest(
            Name: _createItem.Name,
            Price: _createItem.Price,
            Description: _createItem.Description,
            MenuPhoto: _createItem.MenuPhoto,
            IsFoodItem: _createItem.IsFoodItem,
            IsDeleted: _createItem.IsDeleted
        // Include Category & Allergy when implemented
        );

        var apiUrl = "/admin/items/create";

        var response = await HttpClient.PostAsJsonAsync(apiUrl, request);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("admin/item/view");
        }
        else
        {
            Error = true;
            ErrorMessage = "Det gick inte att registrera informationen";
        }
    }

    private async Task HandlePhotoUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var stream = file.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            _createItem.MenuPhoto = ms.ToArray();
        }
    }
}
