@using MudBlazor
@using TheRestaurant.Presentation.Client.Components.Admin.ProductCrud.DTO;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@if (Error == true)
{
    <p>@ErrorMessage</p>
}

@if (products != null)
{
    <MudGrid Justify="Justify.FlexStart">
        @foreach (var product in products)
        {
            <MudItem xs="12" sm="6" md="4" lg="4">
                <MudCard Class="mud-secondary" Style="margin: 15px;">
                    <MudCardMedia Image="@GetImageSource(product.MenuPhoto)" Style="height: 150px; object-fit: cover;" />
                    <MudCardContent Style="min-height: 180px;">
                        <!-- Set a minimum height -->
                        <MudText Typo="Typo.h5" Color="Color.Primary">@product.Name</MudText>
                        <MudText Typo="Typo.body2" Color="Color.Primary">Pris: @product.Price</MudText>
                        <MudText Typo="Typo.body2" Color="Color.Primary">@product.Description</MudText>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-space-between">
                        <MudButton Class="ml-2" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ShowConfirmation(product.Id))">Radera</MudButton>
                        <MudButton Variant="Variant.Text" OnClick="@(() =>NavigateToViewSpecificProduct(product.Id))">Detaljer</MudButton>
                        <MudButton Class="mr-2" Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => NavigateToEditProduct(product.Id))">Edit</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
<DeleteProductConfirmation @ref="deleteProductConfirmation" OnConfirmDelete="DeleteProduct" />

@code {
    private List<ProductDto> products;
    private DeleteProductConfirmation deleteProductConfirmation;

    private bool Error;
    private string ErrorMessage;

    private string GetImageSource(byte[] photo)
    {
        return $"data:image/jpeg;base64,{Convert.ToBase64String(photo)}";
    }
    protected override async Task OnInitializedAsync()
    {
        products = await HttpClient.GetFromJsonAsync<List<ProductDto>>("/admin/products");
    }

    private void NavigateToEditProduct(int id)
    {
        NavigationManager.NavigateTo($"/admin/product/edit/{id}");
    }

    private void NavigateToViewSpecificProduct(int id)
    {
        NavigationManager.NavigateTo($"/admin/product/view/{id}");
    }

    private int productToDeleteId;
    private void ShowConfirmation(int id)
    {
        productToDeleteId = id;
        deleteProductConfirmation.Show("Är du säker att du vill ta radera den här produkten?", () => DeleteProduct(id));
    }

    private async Task DeleteProduct(int id)
    {
        id = productToDeleteId;
        var apiUrl = $"/admin/product/delete/{id}";

        var request = new HttpRequestMessage(HttpMethod.Put, apiUrl);
        var response = await HttpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            products = await HttpClient.GetFromJsonAsync<List<ProductDto>>("admin/products");
        }

        else
        {
            Error = true;
            ErrorMessage = "Det gick inte att registrera informationen";
        }
    }
}

