@page "/Admin/OrderStatusList"
@using TheRestaurant.Contracts.DTOs
@using MudBlazor
@using TheRestaurant.Presentation.Client.Components;
@using TheRestaurant.Presentation.Client.Shared.Admin
@inject HttpClient HttpClient
@inject NavigationManager Navigation

<AdminLayout>
    <AdminContent>
        <MudGrid Spacing="2" Justify="Justify.Center">

            <MudItem xs="12">

                @if (orderStatusList != null)
                {
                    <MudTable Items="@orderStatusList"
                              Dense=true
                              Hover=true
                              Bordered=false
                              Striped=false
                              Elevation="0">

                        <ToolBarContent>

                            <MudItem xs="9">
                                <MudText Typo="Typo.h5">Orderstatus </MudText>
                            </MudItem>
                            

                        </ToolBarContent>

                        <HeaderContent>

                            <MudTh Class="fw-bold">Id</MudTh>
                            <MudTh Class="fw-bold">Status</MudTh>
                            <MudTh Class="fw-bold">Aktiv</MudTh>
                            <MudTh Class="fw-bold">Inställningar</MudTh>
                            

                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Id">@context.Id</MudTd>
                                <MudTd DataLabel="Namn">@context.Status</MudTd>

                                @if (context.IsDeleted)
                            {
                                <MudTd DataLabel="unactive">
                                    <MudIcon Icon="@Icons.Material.Filled.Close"
                                             Color="Color.Error" />
                                </MudTd>
                            }
                            else
                            {
                                <MudTd DataLabel="active">
                                    <MudIcon Icon="@Icons.Material.Filled.Check"
                                             Color="Color.Success" />
                                </MudTd>
                            }

                            <MudTd>
                                <MudButtonGroup Variant="Variant.Filled"
                                                Color="Color.Primary"
                                                            DisableElevation>
                                 <MudTooltip Text="Redigera kategori">
                                     
                                     </MudTooltip>
                                     @if (context.IsDeleted)
                                    {
                                        <MudTooltip Text="Aktivera kategori">
                                            <MudIconButton Icon="@Icons.Material.Filled.Upgrade"
                                                           Variant="Variant.Filled"
                                                           Color="Color.Primary"
                                                                  DisableElevation
                                                        OnClick="() =>  ActivateOrderStatus(context.Id)" />
                                     </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudTooltip Text="Inaktivera kategori">
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                           Variant="Variant.Filled"
                                                           Color="Color.Primary"
                                                                  DisableElevation
                                                        OnClick="() => InactiveOrderStatus(context.Id)" />
                                     </MudTooltip>
                                    }


                                </MudButtonGroup>
                            </MudTd>

                        </RowTemplate>
                    </MudTable>
                }
                else
                {
                    <div class="alert alert-warning">
                        No Data
                    </div>
                }

                <br />
                <br />

            </MudItem>

        </MudGrid>
    </AdminContent>
</AdminLayout>

@code {
    private OrderStatusDto[] orderStatusList;

    protected override async Task OnInitializedAsync()
    {
        orderStatusList = await HttpClient.GetFromJsonAsync<OrderStatusDto[]>("api/OrderStatus");
    }

    private async Task ActivateOrderStatus(int id) => Navigation.NavigateTo($"/Admin/ActiveOrderStatus/{id}");

    private async Task InactiveOrderStatus(int id) => Navigation.NavigateTo($"/Admin/InactiveOrderStatus/{id}");
}

