


<MudPaper Height="60vh" Width="100%" Style="border-radius:0;">

<MudCarousel Class="mud-width-full" Style="height:100%;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
             <Image1/>
            
        </div>
        
    </MudCarouselItem>
    
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <Image2 />
        </div>
       
    </MudCarouselItem>
    
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
        </div>
       
    </MudCarouselItem>
</MudCarousel>

</MudPaper>


@code{ 
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}

@* Link to mudblazor-component:
https://mudblazor.com/components/carousel#example *@