


<MudPaper 
    Class="w-100"
    Height="60vh" 
    Elevation="0">

<MudCarousel 
    Class="mud-width-full h-100 py-5 my-10 w-100" 
    ShowArrows="@arrows" 
    ShowBullets="@bullets" 
    EnableSwipeGesture="@enableSwipeGesture"
    AutoCycle="@autocycle" 
    TData="object">
    
    <MudCarouselItem 
        Transition="transition" 
        Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
             <Image1/>
        </div>
    </MudCarouselItem>
    
    <MudCarouselItem 
        Transition="transition" 
        Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <Image2 />
        </div> 
    </MudCarouselItem>
    
</MudCarousel>

</MudPaper>


@code{ 
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}

@* Link to mudblazor-component:
https://mudblazor.com/components/carousel#example *@